
/* Fonts */
.league-spartan {
    font-family: "League Spartan", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.raleway {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* -----------------------------------------------  Waitlist Content  ------------------------------------------------------------ */
#waitlistBoxContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#waitlistBox{
    align-items: center;
    border: 1px solid black;
    border-radius: 15px;
    width: 90%;
    padding: 15px;

    background: linear-gradient(#9c6ef7, #6bdee2);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#waitlist-input{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#waitlistTitle{
    color: white;
    text-align: center;
    padding: 5px;
    padding-top: 10px;
    font-weight: bold;
    font-size: 2em;
}

#emailInput{
    margin-bottom: 10px;
    font-style: italic;
    padding: 5px;
    padding-left: 10px;
    border-radius: 15px;
    border: white solid 1px;
    width: 65%;
    color: gray;
    font-weight: bold;
}



#title{
    text-align: center;
    padding-top: 100px;
    font-size: 5em;
    color: white;
}

#slogan{
    text-align: center;
    margin-top: -20px;
    color: white;
    font-style: italic;
    font-weight: bold;
}

body{ 
    background-image: url('https://media.istockphoto.com/id/1406927873/vector/subtle-gradient-blend-background.jpg?s=612x612&w=0&k=20&c=QobMWoFJTszTReSo6am7A-vlEygNVM9S0C4zQAzyPUE=');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.questionContainer{
    text-align: center;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    height: 225px;

    margin-top: 10px;
    margin-bottom: 10px;
}

.questionTitle{
    font-weight: bold;
}

.questionIcon{
    font-size: 3em;
    color: #8c52ff
}

#submitWaitlistButton{
    background-color: #8c52ff;
    color: white;
    border-radius: 15px;
    border: 1px solid #8c52ff;
    padding: 5px;
    width: 20%;
}


  

